

img {
    max-width: 100%;
}
body, html{
    overflow-x: hidden;
}

html{
    min-height: 100vh;
}
body{
    height: 100vh;
    font-size: 14px;
    color: #73879C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    color: rgb(9 37 64);
   
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

h1,
.h1 {
    font-size: 40px;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 30px;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 25px;

}

h4,
.h4 {
    font-size: 20px;

}

h5,
.h5 {
    font-size: 18px;
}

.mb-05 {
    margin-bottom: 5px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.mb-6 {
    margin-bottom: 60px !important;
}

.mb-7 {
    margin-bottom: 70px !important;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding: 12px 25px;
    border-radius: 4px;
}

.form-control {
    border-radius: 8px;
    font-size: 15px;
}
.form-control.form-control-lg{
    font-size: 17px;
    min-height: 55px;
}

.btn-primary {
    background-color: #00b9ff !important;
    border-color: #00b9ff !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #29c2f9 !important;
    border-color: #29c2f9 !important;
}
.formGroup{
    margin-bottom: 15px;
}
.singleFold{
    min-height: 100vh;
    padding: 30px 0;
}


@media (max-width: 1199.98px) {
 
   
}

@media (max-width: 991.98px) {
   
    
}


@media (max-width: 767.98px) {
   
}

@media (max-width:575.98px) {}